databases:
  - name: propmanage-db
    databaseName: propmanage
    user: propmanage
    region: frankfurt
    plan: free

services:
  - type: web
    name: propmanage
    runtime: node
    region: frankfurt
    plan: starter
    buildCommand: npm install && npx prisma generate && npx prisma db push && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: HOSTNAME
        value: 0.0.0.0
      - key: DATABASE_URL
        fromDatabase:
          name: propmanage-db
          property: connectionString
      - key: NEXTAUTH_SECRET
        generateValue: true
      - key: NEXTAUTH_URL
        sync: false
    healthCheckPath: /
    autoDeploy: true
